.heading{
    background-color: hsla(240, 100%, 50%, 0.788);
    color: white;
    height: 80px;
    position: relative;
}

p{
    display: inline-flex;
    justify-content: center;
    margin-left: 47%;
    position: absolute;  
    margin-top: 25px;          
}

.menu-icon{
    display: inline-flex;
    justify-content :left ;
    margin-left: 10px;
    position: absolute;  
    margin-top: 25px;   
}


