<div>
    <ul class ="nav-links">
        <li><a  [routerLink]="['/flights']" routerLinkActive="current-tab" ><img src="../assets/airplane.png" alt="">  Flights</a></li>
        <li><a  [routerLink]="['/hotels']" routerLinkActive="current-tab"><img src="../assets/hotel.png" alt="">  Hotels</a></li>
        <li><a  [routerLink]="['/cars']" routerLinkActive="current-tab"><img src="../assets/car.png" alt="">  Cars</a></li>
        <li><a  [routerLink]="['/activities']"  routerLinkActive="current-tab"><img src="../assets/flag.png" alt="">  Activity</a></li>
    </ul>
</div>
